/* You can add global styles to this file, and also import other style files */
// Angular Material theme
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

body {
   margin: 0;
   font-family: Roboto, 'Helvetica Neue', sans-serif;
}
